{% extends "layout.html" %}
{% block title %}AIM Confirmation{% endblock %}

{% block content %}

        <div style="color: white">
            {% for item in data %}
                <div class="row card">
                    <div class="email-content">
                        <h2>{{ item['subject'] }}</h2>
                        <hr style="border: 0.5px solid lightgrey">
                        <p><strong>Email to:</strong> {{ item['email'] }}</p>
                        <div>{{ item['email_content'] | safe }}</div>
                    </div>
                    <hr class="my-2">
                    <div class="row justify-content-center">
                        <button class="delete-btn mr-2">Delete</button>
                        <button class="edit-btn btn-warning mr-2">Edit Fields</button>
                        <button class="confirm-btn btn-primary">Confirm and Send</button>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
