{% extends "layout.html" %}
{% block title %}AIM Homepage{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h1 class="title">
            Discover the Power <br>of <span class="streak">AIM</span>
        </h1>
    </div>
    <div class="row">
        <div class="container">
                <h3 class="example-main">An example</h3>
                <img class="img-main" height="800" width="800" src="{{ url_for('static', filename='images/example.png') }}">
            </div>
        <div class="subtitle">
                Meet AIM, the all-in-one platform that revolutionizes email marketing with the power of AI.
                Experience personalized, engaging emails crafted faster and easier, taking your campaigns to
                the next level.
        </div>
        <br>
        <br>
        <br>
        <br>
        </div>
    </div>




{% endblock %}
