{% extends "layout.html" %}
{% block title %}AIM Homepage{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h1 class="title">
            Discover the Power <br>of <span class="streak">AIM</span>
        </h1>
    </div>
    <br>
    <div class="main-container">
        The all-in-one platform that revolutionizes email marketing with the power of AI.
        <br>
        Experience personalized, engaging emails crafted faster and easier, taking your campaigns to
        the next level.
        <img class="img-main" style="width: 40%; height: auto;" src="{{ url_for('static', filename='images/frontpage.png') }}" alt="frontpage">
    </div>

{% endblock %}
