{% extends "layout2.html" %}
{% block title %}streak Homepage{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h1 class="title">
            Discover the Power <br>of <span class="streak">streak</span>
        </h1>
    </div>
    <div class="row">
        <div class="container">
            <div class="col homepage-anim mt-4">
            </div>
            <div class="subtitle">
                Meet Streak, the all-in-one platform that revolutionizes email marketing with the power of AI.
                Experience personalized, engaging emails crafted faster and easier, taking your campaigns to
                the next level.
            </div>
            <div class="subtitle">
                Rest of Information. Rest of Information. Rest of Information. Rest of Information. Rest of Information.
                Rest of Information. Rest of Information. Rest of Information. Rest of Information. Rest of Information.
            </div>
            <div class="subtitle">
                Rest of Information. Rest of Information. Rest of Information. Rest of Information. Rest of Information.
                Rest of Information. Rest of Information. Rest of Information. Rest of Information. Rest of Information.
            </div>
        </div>
    </div>

            <div class="row justify-content-center">
                <a class="nav-link try-now mt-4 bigger-button" href="{{ url_for('product') }}">Try it now</a>
            </div>


{% endblock %}